.authors {
  .paragraph {
    transition: background-color 0.5s ease;
    &:hover {
      background-color: #f8f9fa;
      cursor: pointer;
    }
  }
  .paragraph_test{
    float:left;
    margin-right: 3px;
  }
  .image_test{
    float:right;
    margin-right: 3px;
  }
  .image {
    text-align: center;
    img{
      max-width: 80%;
    }
  }
  .dang{
    position: absolute;
    right: calc(10% + 35px);
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  .post-card{
    .header-img {
      width: 100%;
      height: 150px;
      background-size: cover;
      background-position: center;
    }
  }
  #elements {
    list-style: none;
    padding-left: 0;
  }
}
