.authors {
  .paragraph {
    transition: background-color 0.5s ease;
    &:hover {
      background-color: #f8f9fa;
      cursor: pointer;
    }
  }
  .paragraph_test{
    float:left;
    margin-right: 3px;
  }
  .image_test{
    float:right;
    margin-right: 3px;
  }
  .image {
    text-align: center;
    img{
      max-width: 80%;
    }
  }
}
